<div class="allusers">
    <p class="title"><span>pages</span> / Users</p>
    <div class="users">
        <table>
            <thead>
                <tr>
                    <th>photo</th>
                    <th>username</th>
                    <th>nom</th>
                    <th>nb des taches</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td><img [src]="user.image" alt=""></td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.nbTasks}}</td>
                    <td>
                        <button type="button" (click)="supprimer(user.id)" class="btn btn-danger">Supprimer</button>
                        <button type="button" (click)="userDetails(user.id)" class="btn btn-info">Voir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
