<div class="allusers">
    <p class="title"><span>pages</span> / Users</p>
    <div class="users">
        <table>
            <thead>
                <tr>
                    <th>photo</th>
                    <th>username</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>nb des taches</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="assets/img/photo.jpg" alt=""></td>
                    <td>rayen-boumnijel</td>
                    <td>boumnijel</td>
                    <td>rayen</td>
                    <td>4</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Voir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/img/photo.jpg" alt=""></td>
                    <td>rayen-boumnijel</td>
                    <td>boumnijel</td>
                    <td>rayen</td>
                    <td>4</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Voir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/img/photo.jpg" alt=""></td>
                    <td>rayen-boumnijel</td>
                    <td>boumnijel</td>
                    <td>rayen</td>
                    <td>4</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-info">Voir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
