<div class="dashboard">
  <p class="title"><span>pages</span> / Dashboard</p>
  <div class="container">
      <div class="row chiffres">
        <div class="col">
          <div class="ch">
              <p>Tasks en cours</p>
              <h4 class="black">{{tasksToday}}</h4>
          </div>
          <div class="icon">
            <i class="bi bi-list-check"></i>
          </div>
        </div>
        <div class="col">
          <div class="ch">
              <p>Tasks Done</p>
              <h4 class="green">{{tasksDone}}</h4>
          </div>
          <div class="icon">
              <i class="bi bi-check2-circle"></i>
          </div>
        </div>
        <div class="col">
          <div class="ch">
              <p>Tasks en retard</p>
              <h4 class="red">{{tasksLate}}</h4>
          </div>
          <div class="icon">
            <i class="bi bi-clipboard-x-fill"></i>
          </div>
        </div>
      </div>
  </div>

  <div class="chart">
    <canvas id="canvas">{{chart}}</canvas>
  </div>

</div>
