<div class="sidebar">
    <div class="logo">
        <img src="assets/img/logo.png" alt="">
        <h3>Task Manager</h3>
    </div>
    <div class="profile">
        <img src="assets/img/photo.jpg" alt="">
        <div class="details">
            <h3>Admin</h3>
            <p>Boumnijel-Rayen</p>
        </div>
    </div>
    <ul class="menu">
        <li routerLink="/admin/dashboard"  #dashboard (click)="changeDColor()" class="dashboard"><i class="bi bi-speedometer2"></i> Dashboard</li>
        <li routerLink="/admin/allusers" #users (click)="changeUColor()"><i class="bi bi-people-fill"></i> Users</li>
        <li routerLink="/admin/alltasks" #tasks (click)="changeTColor()"><i class="bi bi-list-task"></i> Tasks</li>
        <li routerLink="/admin/addtask" #ctask (click)="changeCColor()"><i class="bi bi-window-plus"></i> Create Task</li>
    </ul>
    <div class="out">
        <i class="bi bi-door-open-fill"></i>
        Log out
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>