<div class="allPage">
    <header>
        <img class="logo" src="assets/img/logo.png" alt="">
        <nav>
            <ul>
                <li><a href="">Sign-in</a></li>
                <li><a href="">Sign-up</a></li>       
            </ul>
        </nav>
    </header>
    
    <div class="banier">
        <div class="container">
            <div class="row">
                <div class="col coll-1">
                    <h2>WELCOME TO</h2>
                    <h4>Task Manager App</h4>
                </div>
                <div class="col coll-2">
                    <img src="/assets/img/landing.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>