.allPage{
    width: 100%;
    max-height: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 51);
    height: 65px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    padding: 15px;
    border-radius: 30px;
    width: 80%;
}

nav{
    margin-right: 80px;  
}

header .logo{
    width: 50px;
    height: 50px;
    margin-left:25px;
}

nav{
    display: flex;
}

nav ul{
    list-style: none;
    transform: translateY(32%);
    display: flex;
    top: 50%;
}

ul li a{
    text-decoration: none;
    color: white;
    background-color: #5a2ff5;
    font-size: 14px;
    padding: 8px 28px;
    border-radius: 30px;
    margin: 0 5px;
}

ul li a:hover{
    background-color: white;
    color: #5a2ff5;
}

.banier{
    padding: 40px 0;
    transform: translateY(10%);
}

.coll-2{
    text-align: center;
}

.coll-2 img{
    width: 320px;
    height: 420px;
}

.coll-1{
    padding: 140px 40px 80px 50px;
    background: url("/assets/img/background.png");
    background-position: calc(0%) calc(45%);
    background-size: 440px;
    background-repeat: no-repeat;
}

.coll-1 h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 55px;
    font-weight: 400;
    font-style: italic;
    color: white;
}

.coll-1 h4{
    color: white;
}