<div class="allPage">
<header>
    <img class="logo" src="assets/img/logo.png" (click)="home()" alt="">
    <nav>
        <div class="profile">
            <img [src]="image" alt="">
            <div class="details">
                <p class="role">User</p>
                <p class="username">{{username}}</p>
            </div>
        </div>
        <ul>
            <li><a (click)="logout()">Log out</a></li>       
        </ul>
    </nav>
</header>


<div class="container c1">
    <div class="row">
      <div class="coll-1 coll col-2">
        <h3><i class="bi bi-sliders2"></i> filtrer</h3>
        <ul class="all-f">
            <li class="all">
                <input (change)="allCheck()" type="checkbox" checked #all name="all" id="all">
                <label for="all">All</label>
            </li>
            <ul class="sub-f">
                <li>
                    <input (change)="enCoursCheck()" #cours checked type="checkbox" name="cours" id="cours">
                    <label for="cours">En cours</label>
                </li>
                <li>
                    <input (change)="retardCheck()" #retard checked type="checkbox" name="retard" id="retard">
                    <label for="retard">En retard</label>
                </li>
                <li>
                    <input (change)="finiCheck()" #fini checked type="checkbox" name="fini" id="fini">
                    <label for="fini">Fini</label>
                </li>
            </ul>
        </ul>
      </div>
      <div class="coll-2 coll col-9">
        <div class="container c2">
            
            <div class="row" *ngFor="let item of fakeArray(allTasks.length);let index = index;">
              
              <div class="col" *ngFor="let task of allTasks[index]">
                <h4>{{task.title}}</h4>
                <p class="des">{{task.description}}</p>
                <div class="status" *ngIf="task.state == 'In Progress'">
                  <div class="orange"></div><p>En cours</p><p class="reste">Reste {{task.reste}} heures</p>
                </div>
                <div class="status" *ngIf="task.state == 'Late'">
                  <div class="red"></div><p>En retard</p>
                </div>
                <div class="status" *ngIf="task.state == 'Done'">
                  <div class="green"></div><p>Fini</p>
                </div>
                <button (click)="assginDone(task.id)" *ngIf="task.state == 'In Progress'">Done</button>
              </div>

            </div>

          </div>
      </div>
    </div>
</div>

</div>