<div class="alltasks">
    <p class="title"><span>pages</span> / Tasks</p>
    <div class="tasks">
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>user</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{task.title}}</td>
                    <td class="desc">{{task.description}}</td>
                    <td>{{task.start}}</td>
                    <td>{{task.end}}</td>
                    <td>{{task.user.username}}</td>
                    <td>
                        <p *ngIf="task.state == 'Done'" class="fini">Fini</p>
                        <p *ngIf="task.state == 'Late'" class="retard">En Retard</p>
                        <p *ngIf="task.state == 'In Progress'" class="en-cours">En Cours</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
